.footer {
    background-color: black;

    .container {
        margin: auto;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 87px;
        ////
        padding: 80px 0px 24px 0px;
        gap: 60px;
        flex-shrink: 0;

        .col_1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            .box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;

                .small_box {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;

                    h4 {
                        color: var(--Text, #FAFAFA);
                        /* Heading/24PX Bold */
                        font-family: Inter;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        /* 100% */
                        letter-spacing: 0.72px;
                    }

                    p {
                        color: var(--Text, #FAFAFA);
                        /* Title/20PX Medium */
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px;
                        /* 140% */
                    }
                }

                p {
                    color: var(--Text, #FAFAFA);
                    /* Title/16PX Regular */
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                }
            }

            .sendmail {
                border-radius: 4px;
                border: 1.5px solid var(--Text, #FAFAFA);
                display: flex;
                width: 217px;
                padding: 12px 0px 12px 16px;
                align-items: center;
                gap: 32px;

                input {
                    color: var(--Text, #FAFAFA);
                    width: 130px;
                    /* Title/16PX Regular */
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                    opacity: 0.4;
                }

                /* 150% */
                div {
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                }
            }
        }

        .col_2345 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;

            h4 {
                color: var(--Text, #FAFAFA);
                /* Title/20PX Medium */
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                /* 140% */
            }

            .big_box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 18px;

                .box_1 {
                    width: 175px;
                    color: var(--Text, #FAFAFA);
                    /* Title/16PX Regular */
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                }

                .box {
                    color: var(--Text, #FAFAFA);
                    /* Title/16PX Regular */
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                }


            }



        }

        .col_6 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;

            h4 {
                color: var(--Text, #FAFAFA);
                /* Title/20PX Medium */
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                /* 140% */
            }

            .big_box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;

                .up {
                    color: var(--Text, #FAFAFA);
                    opacity: 0.7;
                    /* Title/12PX Medium */
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px;
                    /* 150% */
                }

                .down {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .left {
                        background: #000;
                        display: flex;
                        width: 80px;
                        height: 80px;
                        padding: 2px;
                        justify-content: center;
                        align-items: center;
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;

                        .up {
                            background: #030406;
                            display: flex;
                            width: 110px;
                            height: 40px;
                            padding: 3px;
                            justify-content: center;
                            align-items: center;
                        }

                        .down {
                            background: #030406;
                            display: flex;
                            width: 110px;
                            height: 40px;
                            padding: 3px;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }


            }



        }



    }
}