  .sw{
    background-color: black;
    .swiper {
      background-color: black;
    width: 100%;
    height: 100%;
    height: 300px;
    // .swiper-button-prev {
    //   display: none;
    // }

    // .swiper-button-next {
    //   display: none;
    // }
  }
  
  .swiper-slide {
   background-color: black;
    
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
      color: #fff;
    }
  }
  
  .swiper-slide img {
   background-color: black;

    display: block;
    width: 100%;
    height: 100%;
    object-fit:scale-down ;
  }
}
  